.hero{
    background-image: url("https://plus.unsplash.com/premium_photo-1670430622983-f3c969d3f7dc?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content h1{
    font-size: 4rem;
    margin-bottom:1rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}